/*==========================================================================*/
/*============================= FONTS ==============================*/
/*==========================================================================*/


@font-face {
  font-family: "Poppins-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Poppins-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-Italic";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Poppins-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SpaceMono-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SpaceMono-BoldItalic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/SpaceMono-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "SpaceMono-Italic";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/SpaceMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "SpaceMono-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
}