@charset "UTF-8";
body {
  max-width: 1440px;
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  margin: auto;
}
body ul {
  list-style-type: none;
}
body a,
body a:visited {
  color: black;
  text-decoration: none;
  font-family: "SpaceMono-Regular";
  text-transform: uppercase;
  display: flex;
}
body a:hover {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .uagb-container-inner-blocks-wrap {
    text-align: center;
    padding: 0 20px;
  }
}
html {
  margin-top: 0px !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 145px;
  background: white;
  height: 80px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
header .navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
header .navbar .navbar__logo img {
  width: 215px;
  height: 15px;
}
header .navbar .navbar__menu {
  display: flex;
  align-items: center;
}
header .navbar .navbar__menu .menu {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
header .navbar .navbar__menu .menu li {
  font-family: "SpaceMono-Regular";
  font-size: 16px;
  text-transform: uppercase;
}
header .navbar .navbar__menu .menu li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
header .navbar .navbar__menu .menu li a:hover {
  font-weight: 700;
}

/* Menu BURGER */
@media screen and (max-width: 768px) {
  #wpadminbar {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding-inline: 16px;
  }
  header.open {
    position: relative;
    z-index: 2;
    animation: openNav 1.5s ease-in-out 0s forwards;
    -webkit-animation: openNav 1.5s ease-in-out 0s forwards;
  }
  header .navbar .burgerMenu {
    width: 30px;
    height: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 40px;
  }
  header .navbar .burgerMenu .bar {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.3s ease-in-out;
  }
  header .navbar .burgerMenu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  header .navbar .burgerMenu.open .bar:nth-child(2) {
    opacity: 0;
  }
  header .navbar .burgerMenu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
  header .navbar .navbar__menu {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    top: 50px;
    left: -16px;
    right: 0;
    background-color: #e00000;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    will-change: max-height, opacity;
    justify-content: center;
  }
  header .navbar .navbar__menu.open {
    max-height: 100vh;
    height: 100vh;
    opacity: 1;
  }
  header .navbar .navbar__menu.close {
    animation: closeNav 1.5s ease-in-out 0s forwards;
    -webkit-animation: closeNav 1.5s ease-in-out 0s forwards;
  }
  header .navbar .navbar__menu .menu {
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }
  header .navbar .navbar__menu .menu li {
    font-size: 44px !important;
  }
  header .navbar .navbar__menu .menu li a {
    color: #fff !important;
  }
  @keyframes openNav {
    0% {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes closeNav {
    0%, 100% {
      max-height: 40vh;
      opacity: 1;
    }
    80% {
      max-height: 0;
      opacity: 0;
    }
  }
  /* Ajustement pour la tablette */
}
@media only screen and (max-width: 768px) and (min-width: 768px) and (max-width: 960px) {
  header {
    padding-inline: 55px;
  }
}
footer {
  background-color: #fff;
  padding: 20px 0;
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
footer .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 60px;
}
footer .footer-menu li {
  margin: 0;
}
footer .footer-menu li a {
  font-family: "SpaceMono-Regular";
  font-size: 16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer-menu li a:hover {
  font-weight: 700;
}
footer .footer-credits {
  font-family: "SpaceMono-Regular";
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 765px) {
  footer {
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
  }
  .footer-menu {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .footer-menu li {
    margin: 10px 0;
  }
  .footer-credits {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    margin-top: -15px;
  }
}
@font-face {
  font-family: "Poppins-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins-BoldItalic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Poppins-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins-Italic";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Poppins-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono-BoldItalic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/SpaceMono-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono-Italic";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/SpaceMono-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
}
.popup__overlay {
  display: none; /*Masqué par défaut */
  position: fixed; /* Rester en place */
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajoute un effet d'assombrissement transparent */
  justify-content: center;
  align-items: center;
}
.popup__overlay .popup__contact {
  background: white;
  max-width: 600px;
  width: 80%;
  padding: 20px;
  border: 3px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
}
.popup__overlay .popup__contact .popup-title__container .popup__close {
  position: absolute;
  height: 110px;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s ease;
}
.popup__overlay .popup__contact .popup-title__container img {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.popup__overlay .popup__contact .popup__informations {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 265px;
  margin: auto;
}
.popup__overlay .popup__contact .wpcf7-form {
  display: flex;
  flex-direction: column;
}
.popup__overlay .popup__contact .wpcf7-form p {
  margin: 5px;
  padding-top: 0px;
  width: 100%;
}
.popup__overlay .popup__contact .wpcf7-form p label {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.popup__overlay .popup__contact .wpcf7-form p input {
  height: 40px;
}
.popup__overlay .popup__contact .wpcf7-form p .wpcf7-text,
.popup__overlay .popup__contact .wpcf7-form p .wpcf7-email,
.popup__overlay .popup__contact .wpcf7-form p textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-top: 5px;
}
.popup__overlay .popup__contact .wpcf7-form p .wpcf7-text:focus,
.popup__overlay .popup__contact .wpcf7-form p .wpcf7-email:focus,
.popup__overlay .popup__contact .wpcf7-form p textarea:focus {
  border: 3px solid #000000;
  background-color: rgba(175, 174, 174, 0.151);
}
.popup__overlay .popup__contact .wpcf7-form-control.wpcf7-submit {
  width: 100%;
}/*# sourceMappingURL=theme.css.map */